body {
  min-height: 100vh;
  background: linear-gradient(#d6e7eb, #ffffff);
}
.vertical-line {
  border: none; /* Remove default border */
  border-left: 2px solid #ffffff; /* Change color and thickness */
  height: 100px; /* Set height as needed */
  width: 0; /* Set width to 0 to make it vertical */
  margin: 20px; /* Optional: adjust margin */
}

.Display {
  display: flex;
  flex-direction: column;
}

.header {
  align-self: flex-start;
  margin-left: 20px;
  font-family: 'ADLaM Display', sans-serif;
}

.topSection {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  flex-direction: column;
  align-items: center;
  font-family: 'ADLaM Display', sans-serif;
}

.topSection p {
  color: #516a6f;
  font-family: 'Afacad', sans-serif;
  font-size: 20px;
}

.topSection button {
  background-color: #e34324;
  border: none;
  box-shadow: black 0px 0px 5px;
  padding: 8px 30px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  font-family: 'ADLaM Display', sans-serif;
}

.topSection button:hover {
  background-color: #e34324;
  box-shadow: black 0px 0px 10px;
}

.topSection button:active {
  background-color: #e34324;
  box-shadow: black 0px 0px 5px;
}

.topSection img {
  width: 30%;
  border-radius: 50%;
}

.middleSection {
  display: flex;
  justify-content: space-between;
  margin: 100px 0;
  flex-direction: row;
  align-items: center;
}

.middleSection img {
  width: 40%;
}

.middleSection h1 {
  width: 450px;
  text-align: center;
  font-size: 60px;
  margin-left: 20px;
  font-family: 'ADLaM Display', sans-serif;
}

.lowerSection {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  flex-direction: row;
  align-items: center;
  margin-top: 100px;
  background-color: antiquewhite;
}

.lowerSectionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.lowerSectionItem img {
  width: 40%;
  border-radius: 20px;
}

.stepsNumber {
  margin-top: 20px;
  background-color: #e34324;
  color: white;
  font-size: 40px;
  padding-inline: 10px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-family: 'ADLaM Display', sans-serif;
}

.lowerSectionItem p {
  color: #516a6f;
  font-size: 20px;
  width: 50%;
  text-align: center;
}
.footer {
  color: #d6e7eb;
  background: linear-gradient(to right, #000000, #e34324);
  display: flex;
  margin: 20px;
  flex-direction: row;
  font-family: 'ADLaM Display', sans-serif;
  justify-content: space-between;
  padding: 20px;
}

.footerBody {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.upperBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
}

.upperBodyRight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
}

.icons img {
  width: 50px;
  margin: 0 10px;
}

.lowerBody {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  width: 100%;
}

.lowerBody p {
  margin: 0 10px;
  font-size: 15px;
}

.footerButton {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.GooglePlayButton {
  display: flex;
  margin-top: auto;
  background-color: #e34324;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  align-items: center;
}

.GooglePlayButton img {
  width: 60px;
  margin: 0 10px;
}

.GooglePlayButton h2 {
  font-size: 12px;
  margin: 0;
}

.GooglePlayButton h1 {
  font-size: 14px;
  margin: 0;
}
